<section class="relative bg-secondaryColorDark">
    <div class="h-56 sm:h-72 md:absolute md:left-0 md:h-full md:w-1/2">
        <img class="object-cover w-full h-full" src="/img/cta.jpg" alt="Support team" />
    </div>
    <div class="relative max-w-screen-xl px-4 py-12 mx-auto sm:px-6 lg:px-8 lg:py-16">
        <div class="md:ml-auto md:w-1/2 md:pl-10">
            <div class="text-base font-semibold leading-6 tracking-wider uppercase text-cool-gray-800">
                We need your help
            </div>
            <h2
                class="mt-2 text-3xl font-extrabold leading-9 tracking-tight text-cool-gray-900 sm:text-4xl sm:leading-10"
            >
                Help the rare gem talent school grow
            </h2>
            <p class="mt-3 text-lg leading-7 text-cool-gray-800">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Et, egestas tempus tellus etiam sed. Quam a
                scelerisque amet ullamcorper eu enim et fermentum, augue. Aliquet amet volutpat quisque ut interdum
                tincidunt duis.
            </p>
            <div class="mt-8">
                <div class="inline-flex rounded-md shadow">
                    <a
                        target="_blank"
                        rel="noopener"
                        href="https://www.globalgiving.org/projects/helpt-return-to-school-for-children-with-dyslexia/"
                        class="inline-flex items-center justify-center px-5 py-3 text-base font-medium leading-6 text-gray-900 transition duration-150 ease-in-out border border-transparent rounded-md bg-primaryColor hover:text-gray-600 focus:outline-none focus:shadow-outline"
                    >
                        Donate Today!
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
