<div class="relative overflow-hidden bg-white">
    <div class="max-w-screen-xl mx-auto">
        <div class="relative z-10 pb-8 bg-white sm:pb-16 md:pb-20 lg:max-w-2xl lg:w-full lg:pb-28 xl:pb-32">
            <svg
                class="absolute inset-y-0 right-0 hidden w-48 h-full text-white transform translate-x-1/2 lg:block"
                fill="currentColor"
                viewBox="0 0 100 100"
                preserveAspectRatio="none"
            >
                <polygon points="50,0 100,0 50,100 0,100" />
            </svg>
            <div class="relative px-4 pt-6 sm:px-6 lg:px-8"></div>

            <main class="max-w-screen-xl px-4 mx-auto mt-10 sm:mt-12 sm:px-6 md:mt-16 lg:mt-20 lg:px-8 xl:mt-28">
                <div class="sm:text-center lg:text-left">
                    <h2
                        class="text-4xl font-extrabold leading-10 tracking-tight text-gray-900 sm:text-5xl sm:leading-none md:text-6xl"
                    >
                        Learning with a
                        <br class="xl:hidden" />
                        <span class="text-secondaryColorDark">difference</span>
                    </h2>
                    <p
                        class="mt-3 text-base text-gray-500 sm:mt-5 sm:text-lg sm:max-w-xl sm:mx-auto md:mt-5 md:text-xl lg:mx-0"
                    >
                        Our goal is to enhance the understanding of students, parents, teachers, educational authorities
                        and all the community members about every aspects of dyslexia in order to help dyslexic
                        learner’s achieve their full potential in life.
                    </p>
                    <div class="mt-5 sm:mt-8 sm:flex sm:justify-center lg:justify-start">
                        <div class="rounded-full shadow">
                            <a
                                href="#"
                                class="flex items-center justify-center w-full px-8 py-2 text-base font-medium leading-6 transition duration-150 ease-in-out border border-transparent rounded-full text-cool-gray-900 bg-primaryColor hover:bg-primaryColorDark focus:outline-none focus:border-primaryColorDark focus:shadow-outline-indigo md:py-2 md:text-lg md:px-8"
                            >
                                Discover
                            </a>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
    <div class="lg:absolute lg:inset-y-0 lg:right-0 lg:w-1/2">
        <img class="object-cover w-full h-56 sm:h-72 md:h-96 lg:w-full lg:h-full" src="/img/homepage-hero.jpg" alt="" />
    </div>
</div>
