<section id="services" class="py-16 overflow-hidden lg:py-24">
    <div class="relative bg-white">
        <div class="lg:absolute lg:inset-0">
            <div class="lg:absolute lg:inset-y-0 lg:left-0 lg:w-1/2">
                <img class="object-cover w-full h-56 lg:absolute lg:h-full" src="/img/intro.jpg" alt="" />
            </div>
        </div>
        <div class="relative px-4 pt-12 pb-16 sm:pt-16 sm:px-6 lg:px-8 lg:max-w-7xl lg:mx-auto lg:grid lg:grid-cols-2">
            <div class="lg:col-start-2 lg:pl-8">
                <div class="mx-auto text-base max-w-prose lg:max-w-lg lg:ml-auto lg:mr-0">
                    <p class="font-semibold leading-6 tracking-wide uppercase text-secondaryColorDark">
                        Humble origins
                    </p>
                    <h1
                        class="mt-2 mb-8 text-3xl font-extrabold leading-8 tracking-tight text-gray-900 sm:text-4xl sm:leading-10"
                    >
                        Rare Gem Talent School
                    </h1>
                    <div class="prose-lg text-gray-500">
                        <p>
                            Rare-gem Talent school was conceived in 2012, through the joint efforts of Nancy Munyi and
                            Phyllis Kariuki. The name Rare-gem means a gem you do not get anywhere. The directors took
                            the challenge of starting a school positively since the need was quite evident. This put
                            them in the face of daunting challenges such as the lack of land, resources and premises on
                            which to build a school. This saw them start the school in a rented three bedroomed house in
                            a student hostile environment.
                        </p>
                        <p>
                            In addition to this, the lack of financial resources put them on the receiving end of anger
                            and distrust by trained teachers who expected a high salary respective of the size of the
                            school. It was quite a headache how to allocate the merger funds collected from fees in a
                            manner that the rent, food, books, salaries and other expenses covered. However difficult it
                            turned to be; the directors were motivated to stick to the course for they believed that
                            they could positively impact the lives of children diagnosed with Dyslexia.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
