<div id="mission" class="overflow-hidden bg-white">
    <div class="relative px-4 py-16 mx-auto max-w-7xl sm:px-6 lg:px-8">
        <div class="absolute top-0 bottom-0 hidden w-screen lg:block bg-gray-50 left-3/4"></div>
        <div class="mx-auto text-base max-w-prose lg:max-w-none">
            <p class="text-base font-semibold leading-6 tracking-wide uppercase text-secondaryColorDark">
                The next phase
            </p>
            <h2
                class="mt-2 mb-8 text-3xl font-extrabold leading-8 tracking-tight text-gray-900 sm:text-4xl sm:leading-10"
            >
                A growing institution
            </h2>
        </div>
        <div class="lg:grid lg:grid-cols-2 lg:gap-8">
            <div class="relative mb-8 lg:mb-0 lg:row-start-1 lg:col-start-2">
                <svg
                    class="absolute top-0 right-0 hidden -mt-20 -mr-20 lg:block"
                    width="404"
                    height="384"
                    fill="none"
                    viewBox="0 0 404 384"
                >
                    <defs>
                        <pattern
                            id="de316486-4a29-4312-bdfc-fbce2132a2c1"
                            x="0"
                            y="0"
                            width="20"
                            height="20"
                            patternUnits="userSpaceOnUse"
                        >
                            <rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor" />
                        </pattern>
                    </defs>
                    <rect width="404" height="384" fill="url(#de316486-4a29-4312-bdfc-fbce2132a2c1)" />
                </svg>
                <div class="relative mx-auto text-base max-w-prose lg:max-w-none">
                    <figure>
                        <div class="relative pb-7/12 lg:pb-0">
                            <img
                                src="/img/next-phase.jpg"
                                alt=""
                                width="1184"
                                height="1376"
                                class="absolute inset-0 object-cover object-center w-full h-full rounded-lg shadow-lg lg:static lg:h-auto"
                            />
                        </div>
                        <figcaption class="flex mt-3 text-sm text-gray-500">
                            <!-- Heroicon name: camera -->
                            <svg
                                class="flex-none w-5 h-5 mr-2 text-gray-400"
                                xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 20 20"
                                fill="currentColor"
                            >
                                <path
                                    fill-rule="evenodd"
                                    d="M4 5a2 2 0 00-2 2v8a2 2 0 002 2h12a2 2 0 002-2V7a2 2 0 00-2-2h-1.586a1 1 0 01-.707-.293l-1.121-1.121A2 2 0 0011.172 3H8.828a2 2 0 00-1.414.586L6.293 4.707A1 1 0 015.586 5H4zm6 9a3 3 0 100-6 3 3 0 000 6z"
                                    clip-rule="evenodd"
                                />
                            </svg>
                            Photograph by Marcus O’Leary
                        </figcaption>
                    </figure>
                </div>
            </div>
            <div>
                <div class="mx-auto prose-lg text-gray-500 lg:max-w-none lg:row-start-1 lg:col-start-1">
                    <p>
                        At the end of the 1 st year since the school was opened, it boasted of a population of 10
                        students. In addition to this, the school relocated to a more student friendly environment thus
                        boosting the teachers as well as student morale. Through unending patience and consistency, the
                        school management enlightened parents of children born with dyslexia that this was and is a
                        lifelong condition that can be managed through positive teaching, understanding and encouraging
                        learners to never cease to strive their best.
                    </p>
                    <p>
                        In 2015, 3 years since its conception, Rare gem was the home to a total of 62 students. The
                        school became more inclusive and open to students who had different types of learning
                        difficulties. Through its trained teachers and highly motivated directors, Rare gem created an
                        Individual Education Program (IEP) that was tailor made to the various learning difficulties
                        experienced in its students.
                    </p>
                    <p>
                        Many children with Specific Learning Difficulties are made to believe that failure in school is
                        okay. Rare Gem Talent School believes and shares a different mindset. Dyslexia can be a gift,
                        not a hindrance. Taught in a conducive environment and access to trained teachers, dyslexic
                        children can and will succeed academically. We have the opportunity to uncover their unique
                        talents and strengths. The board of directors and teachers at the Rare Gem Talent School are
                        geared to make a difference in the lives of children with dyslexia, one student, two students,
                        and eventually a whole society.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
