<section class="max-w-5xl px-4 mx-auto my-24 sm:px-6 lg:px-8">
    <div class="grid items-center grid-cols-12 gap-4">
        <img src="/img/timeline.svg" class="col-span-3" alt="" />
        <p class="col-span-9">
            As of the start of the 2020 academic year, 201 students were registered in Rare gem Talent School. This
            growth proves the commendable work and need that the school serves. All signs show that that this growth is
            expected to continue as the school adopts more effective teaching methods for children with learning
            difficulties. As of now, Rare gem has a single stream in each class; from baby class till high school. In
            addition, it plans to expand its existing premises and renovate the computer laboratory and therapy room
            where learners who require sensory integration are attended.
        </p>
    </div>
</section>
