{% extends "layouts/base.njk" %}

{% block content %}

    {% include "partials/homepage/hero.html" %}

    {% include "partials/homepage/intro.html" %}

    {% include "partials/homepage/next-phase.html" %}

    {% include "partials/homepage/vision.html" %}

    {% include "partials/homepage/timeline.html" %}

    {% include "partials/homepage/cta.html" %}

    {% include "partials/homepage/gallery.html" %}

    {% include "partials/homepage/contact.html" %}

{% endblock %}
