<aside class="bg-primaryColor">
    <div class="px-4 py-16 mx-auto text-left max-w-7xl sm:py-20 sm:px-6 lg:px-8">
        <div class="grid grid-cols-2 gap-6">
            <div class="col-span-1">
                <h2 class="text-3xl text-white sm:text-4xl sm:leading-10">
                    <span class="block">THE ROAD TO REOPENING E-BOOK</span>
                </h2>
                <p class="mt-4 text-lg leading-6 text-left text-white">
                    I’ve created an easy, accessible way for you to absorb some proven strategy, and I’ve packaged it
                    into a tight little e-book that’s jam-packed with insight.
                </p>
                <p class="mt-4 text-lg leading-6 text-left text-white">I’m calling it The Road to Reopening 🙏</p>
                <ul>
                    <li class="text-sm text-white list-disc list-inside">
                        Actionable steps at the end of each section (7 total) that you can take right away to set
                        yourself up for success
                    </li>
                    <li class="text-sm text-white list-disc list-inside">
                        A downloadable Key Performance Indicator spreadsheet and so you can finally understand where
                        your numbers are telling you to focus
                    </li>
                    <li class="text-sm text-white list-disc list-inside">
                        A sample budget and a breakdown of the GENIUS Profit First system as it pertains to yoga studios
                        — so you can hatch a plan for deliberately reintroducing classes and expenses when that time
                        comes
                    </li>
                    <li class="text-sm text-white list-disc list-inside">
                        Branding and positioning theory and exercises so you can drill down on your niche, find your
                        ideal client and learn to communicate with her with ease
                    </li>
                    <li class="text-sm text-white list-disc list-inside">
                        A marketing guide including online strategy and 2 super important offline tricks that will
                        guarantee a stream of new students the second you reopen your doors
                    </li>
                </ul>
            </div>
        </div>
    </div>
</aside>
